<div #expandedArea class="expanded-area tableDetailsHolder">

  <div class="">
    <div class="modalTableBlock">
      <div class="analysis-summary-wrapper">
        <div class="as-block">
          <div class="mtbHeading hasBorder">
            <h4 class="header">Analysis Summary</h4>
            <button mat-raised-button class="" color="primary" matTooltip="Download Batch">
              <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
            </button>
          </div>
          <app-analysis-summary></app-analysis-summary>
        </div>
        <div class="as-block">
          <div class="tableDetails">
            <p>Total Number of Markers: <span class="qnt">1234</span></p>
            <p>Number of Best and Recommended: <span class="qnt">567</span></p>
            <p>Total Number of ProbeSets: <span class="qnt">8900</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="modalTableBlock ">
      <div class="modalTableContainer">
        <app-probesets-modal></app-probesets-modal>
      </div>
    </div>
    <div class="modalTableBlock">
      <app-plots-carousel></app-plots-carousel>
    </div>
    <div class="modalTableBlock">
      <app-scatter-plot></app-scatter-plot>
    </div>
  </div>
</div>
