<div id="probesetsTable" class="tableHolder" fxLayout="column">
  <div class="mtbHeading">
    <h4 class="bolderTable">ProbeSet Summary Table</h4>
    <div class="filterHolder">
      <mat-form-field appearance="legacy">
        <input matInput type="text" class="form-control"
               placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="button" color="primary"
              matTooltip="Copy to clipboard">
        <fa-icon [icon]="faCopy"></fa-icon>
      </button>
    </div>
  </div>
  <div class="tableContent">
    <ag-grid-angular [rowData]="rowData" [defaultColDef]="defaultColDef" class="ag-theme-balham full-size" [columnDefs]="columnDefs"></ag-grid-angular>
  </div>
</div>
