<div class="pageHolder">
  <header class="mainHeader">
    <div class="mainContainer fluid">
      <div class="mainHeaderWrapper">
        <div class="leftPart">
          <a href="#" class="logoLike"><span class="text-bold">applied</span>biosystems</a>
        </div>
        <div class="centerPart">Automated Axiom Analysis</div>
        <div class="rightPart">
          <button mat-icon-button color="white" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="pageNavHolder">
    <ul class="pageNav">
      <li class="pageNavItem"><button mat-flat-button color="primary">Home</button></li>
      <li class="pageNavItem"><button mat-button>Analysis setup</button></li>
    </ul>
  </div>
  <div class="pageContent">
    <router-outlet></router-outlet>
  </div>
  <footer class="mainFooter">
    <div class="text-center copyright">
      &copy; 2020 Thermo Fisher Scientific Inc. All rights reserved.
    </div>
  </footer>
</div>



