body {
  font-size: 15px;
  font-family: $fontFamily;
  overflow-x: hidden;
  color: $textColor;
}

.pageHolder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .pageContent {
    flex-grow: 1;
    position: relative;
  }
  .mainHeader {
    flex-shrink: 0;
  }
  .pageNavHolder {
    flex-shrink: 0;
  }
}

.mainContainer {
  padding: 0 15px;
  &.fluid {
    max-width: 100%;
  }
}

.pageNav {
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $borderColor;
  padding: 15px 15px;
  .pageNavItem {

  }
  .pageNavItem + .pageNavItem {
    margin-left: 15px;
  }
}

.modalTableBlock {
  padding-bottom: 30px;
}

.modalTableContainer {
  height: 500px;
  position: relative;
}

.modalTableBlock + .modalTableBlock {
  padding: 5px 0;
  border-top: 1px solid #eeeded;
}

.analysis-summary-wrapper {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
  .as-block {
    padding: 15px;
  }
}

.mtbHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  h4 {
    line-height: 36px;
    font-size: 22px;
  }
  // border: 2px solid #bdc3c7
}

.mtbHeadingCenter {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h4 {
    line-height: 36px;
    font-size: 22px;
  }
}

.tableDetails {
  p {
    font-size: 14px;
    font-weight: normal;
  }
  p + p {
    margin-top: 10px;
  }
  .qnt {
    font-weight: bold;
  }
}

.fs0 {
  flex-shrink: 0;
}
