.tableHeading {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  .searchHolder {
    margin-left: auto;
  }
}

.tableHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .tableContent {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
  }
  .ag-theme-balham .ag-root {
    border: 1px solid #eeeded;
    font-size: 12px;
  }
}

.modalTableBlock {
  padding-bottom: 30px;
  .ag-theme-balham .ag-root {
    border: 1px solid #eeeded;
    font-size: 12px;
  }
}

.modalTableContainer {
  height: 500px;
  position: relative;
}

.modalTableBlock + .modalTableBlock {
  padding: 30px 0;
  border-top: 1px solid #eeeded;
}

.analysis-summary-wrapper {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
  .as-block {
    padding: 15px;
  }
}

.mtbHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  h4 {
    font-size: 22px;
  }
  &.hasBorder {
    border: 1px solid #bdc3c7;
    border-bottom: 0;
    margin: 0;
    padding: 10px 20px 20px;
    border-radius: 5px 5px 0 0;
  }
}

.tableDetails {
  p {
    font-size: 14px;
    font-weight: normal;
  }
  p + p {
    margin-top: 10px;
  }
  .qnt {
    font-weight: bold;
  }
}
