<div id="probesetsTable" class="tableHolder">
  <div class="tableHeading">
    <div class="block">
      <input class="filter-input"
        placeholder=" Enter filter term here">
      <button mat-raised-button class="button" color="primary">Filter</button>
      <button mat-raised-button class="button" color="primary">Clear</button>
    </div>
  </div>
  <div class="tableContent">
    <ag-grid-angular [rowData]="rowData" [defaultColDef]="defaultColDef" class="ag-theme-balham full-size"
      [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" (rowClicked)=openDetailsModel($event)>
    </ag-grid-angular>
  </div>
</div>