@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.full-size {
  width: 100%;
  height: 100%;
}

.ag-theme-balham {
  .ag-root {
    border: 1px solid #eeeded;
    background: red;
  }
}
:host {
   position: absolute;
   left: 15px;
   right: 15px;
   bottom: 15px;
   top: 15px;
}
//___________________________________________

