<div id="probesetsTable" class="tableHolder">
  <div class="tableHeading">
    <h4 class="">ProbeSet Summary Table</h4>
    <div class="searchHolder">
      <mat-form-field appearance="legacy" class="search">
        <input matInput type="text" class="form-control" class="filter-input" placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="tableContent">
    <ag-grid-angular [rowData]="rowData" [defaultColDef]="defaultColDef" class="ag-theme-balham full-size" [columnDefs]="columnDefs"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
